# Compiler and IDE outputs
build/
dist/
out/
nbproject/private/
.idea/workspace.xml
.idea/shelf/
.idea/history/
*.class

# Persistence files
q_table.txt
scores.db

# C# Launcher artifacts
src_launcher/bin/
src_launcher/obj/
